*{
    font-family: Arial, sans-serif;
    font-size:  17px;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.138), rgba(0, 0, 0, 0.259)),url('../../img/blur-hospital.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #e9fff7;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

nav ,#subnav{ 
    background-color: #18bab0; 
    color: rgb(255, 255, 255); 
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: sticky;
}

nav h1{
    font-weight: bolder;
    font-size: 1.5rem;
}
nav #trans{
    display: flex;
    flex-direction: row;
}

#trans a{
    font-weight: light;
    margin: 1rem;
    text-decoration: none;
    color:rgb(252, 250, 247);
    justify-content: space-around;
}
nav a img{
    width: 3rem;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
}


main h1{
    font-size: 1.5rem;
    justify-self: center;
}


main h1{
    font-size: 1.5rem;
    justify-self: center;
}

#boxcontent{
    background: linear-gradient( #28615dc7, #238b84d3),url("../../img/stetiscope.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width:fit-content;
    height:60vh;
    justify-self: center;
    display: flex;
    align-items: center;
    margin-top: 5rem;
    border-radius: 6rem;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem;
    justify-content: space-between;
}

footer{
    background-color: #18bab0; 
    color: rgb(255, 255, 255); 
    justify-content: space-around;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.button{
    border: 2px solid #51dacc;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top:0.5rem;
    width: 100%;
    background-color:  #406b67;
    color:white;
    cursor:pointer;
    border-width: 0%;
}

button:hover{
    border: 2px solid green;
   transition: 0.5s;
   left:0;
   bottom:0;
   border-width: 100%;
}

input{
    border: 2px solid #51dacc;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top:0.5rem;
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
}
#form{
    margin-top: 2rem;
    margin-right:1rem;
    margin-left: 0rem;
}
#register {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(#28615dc7, #238b84d3), url("../../img/stetiscope.jpg");
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    padding-right: 1.7rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#reg input{
    padding: 0.5rem;
    margin-right: 2rem;
}

#reg{
    justify-content: center;
}
#subnav{
    background-color: #325a56;
    display: none;
    font-weight: light;
    
    justify-content: space-around;
}
#subnav a{
    text-decoration: none;
    color:rgb(252, 250, 247);
}

#register img{
    width: 19rem;   
    border: solid #51dacc 0.5rem;
    border-radius: 14px;
    margin-bottom: 1rem;
}
#inside a{
    color: rgb(41, 16, 16);
    text-decoration: none;
    align-self: right;
    margin: 1rem;
}
#register h1{
     margin-bottom: 0.4rem;
}
input::placeholder {
font-size: 0.8rem ;
}
#inside{
    margin: 1rem;

}

@media (max-width:1360px) {

    #inside img,#inside h1{
display: none;
margin:0;
    }

#register{
    background: linear-gradient( #28615db0, #238b84d3),url("../../img/stetiscope.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

#inside{
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
}
}
@media (max-width:700px) {

nav #trans{
    display: none;
}

#subnav{
    display: flex;
}

.button{
    margin: 0.5rem;
    border-width: 50%;
    padding: 0.5rem;
}
footer{
    display: none;
}
#submitt{
    flex-direction: column;
}
input{
    padding: 0.5rem;
}
}


@media (max-width:500px)
{

    #boxcontent{
        border-radius:0px;
        margin-top:0;
        height:85vh;
    }
}
